<div class="modal-body">
<table class="table table-hover table-condensed table-bordered">
	<thead>
		<tr class="info">
			<th>
				taskid
			</th>
			<th>
				status
			</th>
			<th>
				redoTask
			</th>
			<th>
				markDone
			</th>
			<th>
				detail
			</th>
		</tr>
	</thead>
	<tbody>
	{% set start = (int(curPage) - 1) * int(sizePerPage) %}
		{% for info in tasks[unitid][start : start + int(sizePerPage)] %}
		<tr>
			<td>
				{{info["taskId"]}}
			</td>
			<td>
				{{info["stat"]}}
			</td>
			<td>
				<button type="button" class="btn btn-success btn-xs {{domain}}-btn"
					{% if info['stat'] != 'Finished' and info['stat'] != 'Fail' %}
						disabled='disabled' 
					{% end %}
					onclick=redotask('{{domain}}','{{info["taskId"]}}')
				>
					redo
				</button>
			</td>
			<td>
				<button type="button" class="btn btn-success btn-xs {{domain}}-btn"
					{% if info['stat'] == 'Finished' %}
						disabled='disabled' 
					{% end %}
					onclick=marktaskdone('{{domain}}','{{info["taskId"]}}')
				>
					markDone
				</button>
			</td>
			<td>
				<button class="btn btn-info btn-xs" data-toggle="modal" data-target="#taskDetail" data-remote="false"
					{% if "parameters" in info %}
						parameters="{{info['parameters']}}"
					{% end %}
					{% if "resultMessage" in info %}
				 		resultMessage="{{info['resultMessage']}}"
				 	{% end %} 
				 	{% if "feedbackMessage" in info %}
				 		feedbackMessage="{{info['feedbackMessage']}}"
				 	{% end %}
				 >
					detail
				</button>
			</td>
		</tr>
		{% end %}
	</tbody>
</table>

</div>
<div class="modal-footer">
	<ul class="pagination pagination-sm" id="paginationParams" {% if totalPage == 0 %} style="display:none;" {% end %}>
	   <li {% if int(curPage) == 1 %} class="disabled" {% end %}><a href="javascript:void(0)" onclick="switchPageUnit({{curPage}}, -1)">&laquo;</a></li>
	   {% for i in range(1, totalPage + 1) %}
	   <li {% if int(curPage) == i %} class="active" {% end %}> 
	   		{% if int(curPage) >= i - 5 %}
	   			{% if int(curPage) <= i + 5 %}
	   				<a href="javascript:void(0)" onclick="switchPageUnit(null, {{i}})">{{i}}</a>
	   			{% end %}
	   		{% end %}			
	   	</li>
	   {% end %}
	   <li {% if int(curPage) == int(totalPage) %} class="disabled" {% end %}><a href="javascript:void(0)" onclick="switchPageUnit({{curPage}}, 1)">&raquo;</a></li>
	</ul>
	<!-- <button type="button" class="btn btn-default btn-xs" data-dismiss="modal">
		close
	</button> -->
</div>
<script>
	function switchPageUnit(curPage, targetPage) {
		if (curPage)
			targetPage = curPage + targetPage;
		if (targetPage < 1 || targetPage > {{totalPage}})
			return ;
	
		var url="/unittask?",
			domain = $("#domain").val();
		var unitid = "{{unitid}}";
		var addr = url + "domain=" + domain +"&unitid={{unitid}}&curPage=" + targetPage + "&totalPage={{totalPage}}&sizePerPage={{sizePerPage}}&tasks={{tasks}}";
		$.get(addr, function(data){
			var html = data;
			$("#myModal .modal-content").html(html);
			$("#myModal .modal-content").attr("curunit", unitid);
		});
	}
	
	function redotask(domain, taskid) {
		var timestamp = (new Date()).valueOf();
		var url = "/redotask?v=" + timestamp;
		$.get(url, {query:taskid, domain:domain}, function(data){
			if (data.retCode == "OK") {
				alert("redo success");
				// refresh modal data if success.
				uid = $("#myModal .modal-content").attr("curunit");
				$.get("/unittask?v=" + timestamp, {domain:domain, unitid:uid, curPage: "{{curPage}}"}, function(data){
					var html = data;
					$("#myModal .modal-content").html(html);
				});
			} else {
				alert("redo failed, info:" + data.info);
			}
		});
	};
	
	function marktaskdone(domain, taskid) {
		var timestamp = (new Date()).valueOf();
		var url = "/marktaskdone?v=" + timestamp;
		$.get(url, {query:taskid, domain:domain}, function(data){
			if (data.retCode == "OK") {
				alert("marktaskdone success");
				// refresh modal data if success.
				uid = $("#myModal .modal-content").attr("curunit");
				$.get("/unittask?v=" + timestamp, {domain:domain, unitid:uid, curPage: "{{curPage}}"}, function(data){
					var html = data;
					$("#myModal .modal-content").html(html);
				});
			} else {
				alert("marktaskdone failed, info:" + data.info);
			}
		});
	};
</script>